/* First Section (Mobile) */

.section-one {
    display: flex;
    flex-direction: column;
    height: 200vh;
}

.col-one {
    height: 50%;
}

.col-two {
    height: 50%;
}

.col-one-text, .col-two-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 50%;
    padding: 2.5em;
}

.egg-img {
    height: 50vh;
    width: 100vw;
}

.cup-img {
    height: 50vh;
    width: 100vw;
}

.section-one h2 {
    font-size: 1.875rem;
    color: hsl(212, 27%, 19%);
    word-wrap: break-word;
}

.section-one p {
    font-size: 1rem;
    color: hsl(232, 10%, 55%);
    line-height: 1.75;
}

.underline-yellow, .underline-pink {
    font-family: 'Fraunces',serif;
    font-size: 1rem;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

/* Second Section (Mobile) */

.section-two {
    height: 200vh;
}

.col-three, .col-four {
    position: relative
}

.gd-desktop, .photography-desktop {
    display: none;
}

.gd-mobile, .photography-mobile {
    display: block;
    height: 100vh;
    width: 100vw;
}

.col-three-text, .col-four-text {
    position: absolute;
    top: 66%;
    text-align: center;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1em;
    
}

.graphic-design-text {
    font-size: 1.875rem;
    color: hsl(167, 40%, 24%)
}

.col-three p {
    color: hsl(167, 40%, 24%);
}

.photography-text {
    font-size: 1.875rem;
    color: hsl(198, 62%, 26%);
    word-break: break-all;
}

.col-four p {
    color: hsl(198, 62%, 26%)
}

/* Third Section (Mobile) */

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3.75em;
    margin: 5em 3em;
}

.testimonials-header {
    font-size: 1rem;
    color: hsl(210, 4%, 67%);
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.single-test-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.single-test-card img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5625em;
}

.quote-text {
    color: hsl(232, 10%, 55%);
    line-height: 1.75;
}

.author-section {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}

.author {
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.author-designation {
    font-size: 0.9rem;
    color: hsl(210, 4%, 67%);
}

/* Fourth Section (Mobile) */

.section-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.section-four img {
    height: 100%;
    width: 100%;
}

/*
\\\\\\\\\\\\\\
Desktop Sizing
//////////////
*/

@media screen and (min-width: 768px) {
    /* First Section (Desktop) */
    .section-one {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 125vh;
    }
    .col-one {
        grid-column: 1/3;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 62.5vh;
    }
    .col-two {
        grid-column: 1/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 62.5vh;
    }
    .section-one img {
        display: block;
        width: 100%;
        height: 62.5vh;
    }
    .col-one-text {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        align-items: flex-start;
        padding: 10vw;
    }
    .egg-img {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .cup-img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .col-two-text {
        grid-column: 2/3;
        grid-row: 1/2;
        height: 100%;
        align-items: flex-start;
        padding: 10vw;
    }
    .underline-yellow, .underline-pink {
        position: relative;
    }
    .underline-yellow::after, .underline-pink::after {
        content: '';
        position: absolute;
        height: 10px;
        width: 110%;
        left: -5%;
        bottom: 0;
        z-index: -1;
        transition: height 0.4s;
        border-radius: 15px;
    }
    .underline-yellow::after {
        background-color: #FFD302;
    }
    .underline-pink::after {
        background-color: #FF7E6E;
    }
    .underline-yellow:hover::after, .underline-pink:hover::after {
        height: 100%;
    }

    /* Second Section (Desktop) */
    .section-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 75vh;
    }
    .gd-desktop, .photography-desktop {
        display: block;
        height: 100%;
        width: 100%;
    }
    .gd-mobile, .photography-mobile {
        display: none;
    }
    .col-three {
        grid-column: 1/2;
        height: 100%;
        position: relative;
    }
    .col-four {
        grid-column: 2/3;
        height: 100%;
        position: relative;
    }
    .col-three-text, .col-four-text {
        top: 55%;
        padding: 0 5.8em;
        line-height: 1.5;
    }

    /* Third Section (Desktop) */
    .section-three {
        height: 90vh;
        gap: 0;
        margin: 0;
    }
    .card-section {
        flex-direction: row;
        justify-content: center;
        gap: 0;
        padding: 0 1em;
    }
    .single-test-card {
        gap: 3em;
        padding: 0.5em;
    }

    .card-text {
        gap: 3em;
    }

    /* Fourth Section (Desktop) */
    .section-four {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    .section-four img {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .testimonials-header {
        font-size: 1.4rem;
    }
    .card-section {
        padding: 0 10em;
    }
}