/* First Section (Mobile) */

.section-one {
    display: grid;
    grid-template-columns: 1fr;
    height: 200vh;
}

.col-one {
    grid-row: 1/2;
    height: 100vh;
}

.col-two {
    grid-row: 2/3;
    height: 100vh;
}

.section-one img {
    height: 40%;
}

.col-one-text, .col-two-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
}

.section-one h2 {
    font-size: 1.875rem;
    color: hsl(212, 27%, 19%);
    word-wrap: break-word;
}

.section-one p {
    font-size: 1rem;
    color: hsl(232, 10%, 55%);
}

.section-one a {
    font-family: 'Fraunces',serif;
    font-size: 1rem;
    color: hsl(212, 27%, 19%);
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
}

/* Second Section (Mobile) */

.col-three {
    background: url('../../images/mobile/image-graphic-design.jpg');
}

.col-four {
    background: url('../../images/mobile/image-photography.jpg');
}

.col-three, .col-four {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-three-text, .col-four-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    height: 100%;
    gap: 1.5em;
    padding: 0 1em 6em 1em;
}

.graphic-design-text {
    font-size: 1.875rem;
    color: hsl(167, 40%, 24%)
}

.col-three p {
    color: hsl(167, 40%, 24%);
}

.photography-text {
    font-size: 1.875rem;
    color: hsl(198, 62%, 26%);
    word-break: break-all;
}

.col-four p {
    color: hsl(198, 62%, 26%)
}

/* Third Section (Mobile) */

.section-three {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3.125em;
    margin: 3em 1.5em;
}

.testimonials-header {
    color: hsl(210, 4%, 67%);
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}

.single-test-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.single-test-card img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5625em;
}

.quote-text {
    color: hsl(232, 10%, 55%);
}

.author-section {
   display: flex;
   flex-direction: column;
   gap: 0.75rem;
}

.author {
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.author-designation {
    font-size: 0.75rem;
    color: hsl(210, 4%, 67%);
}

/* Fourth Section (Mobile) */

.section-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50vh;
}

.section-four img {
    height: 100%;
    width: 100%;
}


/*
\\\\\\\\\\\\\\
Desktop Sizing
//////////////
*/

@media screen and (min-width: 600px) {}