header {
    background: url('../../images//mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 710px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.875em 1.5625em;
}

.nav-bar {
    z-index: 2;
}

.menu { 
    width: 35px;
    cursor: pointer;
}

.menu-bar-1 {
    transform: translateY(-4px);
}

.menu-bar-3 {
    transform: translateY(4px);
}

.bar {
    display: block;
    height: 5px;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
}

.change .menu-bar-1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change .menu-bar-2 {
    opacity: 0;
}

.change .menu-bar-3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change .bar {
    background-color: hsl(232, 10%, 55%);
}

.nav-links {
    display: none;
    position: absolute;
    top: 75px;
    right: 32.5px;
}

.nav-links li {
    list-style: none;
    padding: 1.25em 0;
}

.nav-links-item {
    text-decoration: none;
    color: hsl(232, 10%, 55%);
}

.contact-btn {
    background-color: #FCD702;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    padding: 1.15em 1.60em;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
}

.menu-bg {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 0vh;
    width: 0vw;
    transition: 0.1s all ease-in-out;
}

.change-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 400px;
    width: 225px;
    background-color: white;
    border-radius: 110px 0 0 110px;
    outline: 1px solid hsl(232, 10%, 55%);
    transition: 0.1s all ease-in-out;
}

.change {
    display: block;
}

.change-links {
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero {
    text-align: center;
    padding-top: 11em;
}

.hero-headline {
    color: white;
    text-transform: uppercase;
    letter-spacing: 7.5px;
    font-size: 2.5rem;
    padding-bottom: 1.25em;
    overflow-wrap: break-word;
}