header {
    background: url('../../images//mobile/image-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    max-width: 100vw;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
}

.menu-bar {
    z-index: 2;
}

.menu {
    width: 35px;
    cursor: pointer;
}

.menu-bar-1 {
    transform: translateY(-4px);
}

.menu-bar-3 {
    transform: translateY(4px);
}

.bar {
    height: 5px;
    width: 90%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.change .menu-bar-1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change .menu-bar-2 {
    opacity: 0;
}

.change .menu-bar-3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change .bar {
    background-color: black;
}

.nav-list {
    position: absolute;
    top: 75px;
    right: 50px;
    transition: 0.2s all ease-in-out;
    display: none;
}

.nav-list li {
    list-style: none;
    padding: 16px 0;
}

.nav-list li a {
    color: black;
    text-decoration: none;
}

.menu-bg {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 0;
    width: 0;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
}

.change-bg {
    z-index: 1;
    position: absolute;
    width: 200px;
    height: 350px;
    top: 0;
    right: 0;
    background-color: white;
    border-radius: 50% 0 0 50%;
}

.change {
    display: block;
}