footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    background-color: #90D4C5;
}

.footer-logo {
    height: 35px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 4em;
    padding-bottom: 2em;
}

.footer-links a {
    color: hsl(168, 34%, 41%);
    text-decoration: none;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.5625em;
    color: hsl(168, 34%, 41%);
}

/*
\\\\\\\\\\\\\\
Desktop Sizing
//////////////
*/

@media screen and (min-width: 768px) {
    .footer-links {
        justify-content: center;
        gap: 3.5em;
    }
    .footer-links a {
        transition: 0.1s all ease-in-out;
    }
    .footer-links a:hover {
        color: white;
    }
    .social-links {
        transition: 0.1s all ease-in-out;
    }
    .social-links:hover {
        cursor: pointer;
        fill: #fff;
    }
}