footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #90D4C5;
}

.footer-logo {
    color: #2F7867;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.footer-links a {
    color: #2F7867;
    text-decoration: none;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}