footer {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #90D4C5;
}

.footer-logo {
    height: 35px;
}

.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.footer-links a {
    color: hsl(168, 34%, 41%);
    text-decoration: none;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
    color: hsl(168, 34%, 41%);
}